{% extends "fancylayout.html" %}

{% block content %}
	<div class="jumbotron">
	<html>
		<title>Bio</title>
		<body>
			<div class="row">
			  <div class="column">
			    <div class="card">
			      <img src="becca_picture.jpg" alt="becca" style="width:100%">
			      <div class="container">
			        <h2>Becca Feenstra</h2>
			        <p class="title">Github Captain & Game Developer &amp; Founder</p>
			        <p>Becca Feenstra is a Neuroscience and Biology double major at Brandeis University.
								She spends most of the day thinking about her two dogs and doing logic puzzles.</p>
			        <p>Brandeis Universty</p>
			      </div>
			    </div>
			  </div>

			  <div class="column">
			    <div class="card">
			      <img src="emily_picture.jpg" alt="emily" style="width:100%">
			      <div class="container">
			        <h2>Emily Botto</h2>
			        <p class="title">Game Developer</p>
			        <p>Emily Botto is a senior at Brandeis University studying business and Communication & Literature (IIM).
								This is her first coding class ever and she is getting by thanks to some awesome teammates :)</p>
			        <p>Brandeis University</p>
			        <p><button class="button">Contact</button></p>
			      </div>
			    </div>
			  </div>

			  <div class="column">
			    <div class="card">
			      <img src="img3.jpg" alt="pam" style="width:100%">
			      <div class="container">
			        <h2>Pam Vargas</h2>
			        <p class="title">Game Developer</p>
			        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
			        <p>Brandeis University</p>
			        <p><button class="button">Contact</button></p>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="row">
				<div class="column">
					<div class="card">
						<img src="gaby_picture.jpeg" alt="Gaby" style="width:100%">
						<div class="container">
							<h2>Gabriela Gonzalez Anavisca</h2>
							<p class="title">Game Developer & Web Designer &amp; Founder</p>
							<p>Gaby is currently a senior at Brandeis University. Her majors are Anthropology, Psychology, and Women, Gender, and Sexualities Studies.
								She is a wannna be Computer Scientiest who was paired with an amazing and intelligent group of women to accomplised this project</p>
							<p>Brandeis Universty</p>
						</div>
					</div>
				</div>
			</div>
	</body>
	</html>
{% endblock %}
